<div class="ui container">
    <div class="ui top attached segment">
        <h2 class="ui left floated">Your Total Income</h2>
    </div>
    <div class="ui attached segment">
        <table class="ui very basic padded table">
            <tbody>
                <tr *ngFor="let income of budget.income">
                    <td><span style="font-weight: bold">{{income.name}}</span></td>
                    <td><span>Every {{income.rate}}</span></td>
                    <td><span>£{{income.value}}</span></td>
                    <td>£ 10.99</td>
                    <td><i class="trash outline icon"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui attached segment">
        <form class="ui form">
            <div class="inline fields">
                <div class="seven wide field">
                    <input list="incomeSources" class="ui search dropdown" placeholder="Income type">
                    <datalist id="incomeSources">
                        <option value="Salary">Salary</option>
                        <option value="Bonus">Bonus</option>
                    </datalist>
                </div>
                <div class="four wide field">
                    <label>Every </label>
                    <select class="ui fluid dropdown">
                        <option value="DAY">Day</option>
                        <option value="Week">Week</option>
                        <option value="Month">Month</option>
                        <option value="Year">Year</option>
                    </select>
                </div>
                <div class="four wide field">
                    <div class="ui labeled input">
                        <div class="ui label">£</div>
                        <input type="text" placeholder="Amount">
                    </div>
                </div>
                <div class="one wide field">
                    <button class="ui icon button">
                        <i class="plus icon"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="ui attached segment">
        <div class="ui two column divided grid">
            <div class="column">
                <h1 class="ui dividing header">Your Income Breakdown</h1>
                <canvas [doughnutChart]="budget.income"></canvas>
            </div>
            <div class="column">
                <!--<canvas doughnutChart></canvas>-->
            </div>
        </div>
    </div>
</div>
