body {
    padding-top: 43px;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    color: #4c4f52;
}

.masthead.segment {
    min-height: 500px;
    padding: 1em 0em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
    text-transform: uppercase;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
    text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
    .masthead.segment {
        min-height: 250px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1em;
    }
    .masthead h2 {
        font-size: 1.5em;
        margin-top: 0.5em;
    }
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.login-form {
    margin: 3em auto auto;
    max-width: 75%;
}

.ui.vertical.planner {
    padding: 1em 2em;
}
