<div class="ui container">
    <div class="ui padded raised segment">
        <h1>Billz</h1>
        <form class="ui form">
            <h2 class="ui dividing header">Your Total Income</h2>
            <div class="inline fields">
                <div class="eight wide field">
                    <label>Add Income</label>
                    <input list="incomeSources" class="ui search dropdown" placeholder="Income type">
                    <datalist id="incomeSources">
                        <option value="Salary">Salary</option>
                        <option value="Bonus">Bonus</option>
                    </datalist>
                </div>
                <div class="four wide field">
                    <label>Every</label>
                    <select class="ui fluid dropdown">
                        <option value="Day">Day</option>
                        <option value="Week">Week</option>
                        <option value="Month">Month</option>
                        <option value="Year">Year</option>
                    </select>
                </div>
                <div class="four wide field">
                    <div class="ui right labeled input">
                        <div class="ui label">£</div>
                        <input type="text" placeholder="Amount">
                        <div class="ui basic label">.00</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="ui padded raised segment">
        <div class="ui two column divided grid">
            <div class="column">
                <h1 class="ui dividing header">Your Income Breakdown</h1>
                <canvas [doughnutChart]="incomeData"></canvas>
            </div>
            <div class="column">
                <!--<canvas doughnutChart></canvas>-->
            </div>
        </div>
    </div>
</div>
