<div class="ui container">
    <div>
        <div class="image-text">
            <h1 class="main-header">Silicon Markets</h1>
            <h2 class="sub-header">Budget Planner</h2>
            <a [routerLink]="['/planner']" class="ui button huge positive">Get Started Now</a>
        </div>
        <img class="ui fluid image banner-image" src="assets/img/canary-wharf-banner.jpg">
    </div>
    <br/>
    <div class="ui padded raised segment">
        <h1>Take control of your finances today!</h1>
        <p>
            Nam porta luctus elit, et tempus velit. Duis et sapien viverra, rhoncus lacus a, auctor diam. Vestibulum ac scelerisque neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean ultricies aliquet euismod. Donec pharetra, enim tincidunt mattis malesuada, velit risus porta justo, a scelerisque nunc tortor eget dolor. Sed ipsum dolor, eleifend eu ipsum ut, commodo varius purus. Ut eget libero vestibulum, semper purus eget, hendrerit augue. Proin vehicula, sapien quis vehicula ultrices, orci enim aliquam ipsum, in auctor lorem tortor id eros. Ut a iaculis justo. Pellentesque id urna sit amet magna commodo pretium sit amet eu sapien. Mauris arcu dui, tincidunt accumsan lobortis ut, interdum in mi. Nam gravida augue ac rutrum scelerisque. Vivamus tempus finibus lacinia.
        </p>
        <img class="ui small medium right floated image" src="assets/img/stock-image.jpg">
        <p>
            Curabitur volutpat, risus id condimentum sollicitudin, est eros scelerisque enim, sed aliquam sem metus at nisi. Donec tristique nec nulla sit amet fringilla. Donec eget consectetur magna, sed dapibus risus. Aliquam venenatis dapibus nisi a fermentum. Donec quam massa, scelerisque id arcu quis, commodo sagittis quam. In tristique risus purus, ut vestibulum nisl mattis vitae. Nam luctus id elit quis tincidunt. Sed fermentum tortor nisi, ut lacinia lorem bibendum non. Nunc quis quam sagittis, gravida tellus id, tincidunt sem. Cras interdum, enim et pellentesque ultricies, est ipsum imperdiet nunc, a porta justo nisi a lectus.
        </p>
        <p>
            Curabitur volutpat, risus id condimentum sollicitudin, est eros scelerisque enim, sed aliquam sem metus at nisi. Donec tristique nec nulla sit amet fringilla. Donec eget consectetur magna, sed dapibus risus. Aliquam venenatis dapibus nisi a fermentum. Donec quam massa, scelerisque id arcu quis, commodo sagittis quam. In tristique risus purus, ut vestibulum nisl mattis vitae. Nam luctus id elit quis tincidunt. Sed fermentum tortor nisi, ut lacinia lorem bibendum non. Nunc quis quam sagittis, gravida tellus id, tincidunt sem. Cras interdum, enim et pellentesque ultricies, est ipsum imperdiet nunc, a porta justo nisi a lectus.
        </p>
    </div>
    <div class="ui padded raised segment">
        <h1>More reasons than ever to start saving</h1>
        <div class="ui list">
            <a class="item">
                <i class="right triangle icon"></i>
                <div class="content">
                    <div class="header">Financial independence</div>
                    <div class="description">Donec pharetra, enim tincidunt mattis malesuada.</div>
                </div>
            </a>
        </div>
        <div class="ui list">
            <a class="item">
                <i class="right triangle icon"></i>
                <div class="content">
                    <div class="header">More money in your pocket</div>
                    <div class="description">Nam porta luctus elit, et tempus velit.</div>
                </div>
            </a>
        </div>
        <div class="ui list">
            <a class="item">
                <i class="right triangle icon"></i>
                <div class="content">
                    <div class="header">Prepare for life's unexpected events</div>
                    <div class="description">Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
                </div>
            </a>
        </div>
    </div>
    <br/>
</div>
