<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">
            Silicon Markets
        </h1>
        <h2>Budget Planner</h2>
        <div [routerLink]="['/planner']" class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Take Control Of Your Finances Today</h3>
                <p>We can help you review your spending habits. Break down exactly what you are spending each week and find out where you could make savings.</p>
                <h3 class="ui header">More Reasons Than Ever To Start Saving</h3>
                <p>You can start planning for a brighter financial future now, with the help of our dynamic and responsive planner.</p>
            </div>
            <div class="six wide right floated column">
                <img src="assets/img/stock-image.jpg" class="ui large bordered rounded image">
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <div [routerLink]="['/planner']" class="ui huge positive button">Get Started Now</div>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
                <h3>"Finances Made Simple."</h3>
                <p>- Elliot, Manchester</p>
            </div>
            <div class="column">
                <h3>"I Should Have Started Planning Earlier."</h3>
                <p>- Elliot, Manchester</p>
            </div>
        </div>
    </div>
</div>
