<div class="login-form">
    <div class="ui raised segment">
        <div class="column">
            <div class="ui form">
                <div class="field">
                    <label>Username</label>
                    <div class="ui left icon input">
                        <input [(ngModel)]="username" (keyup.enter)="signup()" type="text" placeholder="Username">
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Password</label>
                    <div class="ui left icon input">
                        <input [(ngModel)]="password" (keyup.enter)="signup()" type="password" placeholder="Password">
                        <i class="lock icon"></i>
                    </div>
                </div>
                <button (click)="signup()" class="ui green labeled icon button"><i class="signup icon"></i>Sign Up</button>
                <button [routerLink]="['/login']" class="ui red labeled icon button"><i class="left arrow icon"></i>Back</button>
            </div>
            <div *ngIf="error" class="ui warning message">
                <i (click)="clearError()" class="close icon"></i>
                <div class="header">
                    {{error}}
                </div>
            </div>
        </div>
    </div>
</div>
